:root {
    --ast-global-color-0: #046bd2;
    --ast-global-color-1: #045cb4;
    --ast-global-color-2: #1e293b;
    --ast-global-color-3: #334155;
    --ast-global-color-4: #FFFFFF;
    --ast-global-color-5: #F0F5FA;
    --ast-global-color-6: #111111;
    --ast-global-color-7: #D1D5DB;
    --ast-global-color-8: #111111;
  }
  
  .App {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animation-container {
    width: 100%;
    height: 500px;
      padding-bottom:20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
